<div class="column">
	<div class="box">
		<article class="media box" id="no_border_shadow">
			<div class="media-content">
				<%= render 'form' %>
			</div>
		 </article>
	</div>
	<div class="box">
		<% @messages.each do | message | %>
		<div class="column">
			<div class="box">
				<p class="message_subdate">
				  <%= message.getMessageSubDate.to_date %>:
				</p>				
				<p class="message_text">
					
					<span id="<%= message.id %>"">
				  		<%= auto_link(message.message) %>
				  	</span>
				  	<script type="text/javascript">
					alteraMensagem("<%= message.id %>");

					</script>
				</p>
				<p class="message_text">
					<%= link_to 'Link', message_path(message) %> |
					<%= link_to 'Edit', edit_message_path(message) %> |
					<%= link_to 'Delete', message, method: :delete,remote: true %>
				</p>
			</div>
		</div>
		<% end %>
	</div>
</div>